    <!-- Details Section -->
    <section id="details" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Details</h2>
                <table class="details-table">
                    <tr>
                        <td>
                            <b>WHO:</b>
                        </td>
                        <td>
                            <span style="font-size: large;font-weight: bold">Nate Harris and Lexi Nickens</span>
                            <br />
                            <span style="font-size: smaller">
                                (Both of us will be keeping our last names,
                                <br />
                                so please continue to refer to us as Mr. Harris and Mrs. Nickens,
                                <br />
                                or as the Harris-Nickens family.)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>WHAT:</b>
                        </td>
                        <td>
                            A fun time with friends and family.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>WHEN:</b>
                        </td>
                        <td>
                            <span style="font-size: large; font-weight: bold">October 7-10, 2022</span>
                            <br />
                            Primary festivities on <i>Saturday, October 8 starting at 4 P.M.</i>
                            <br />
                            A breakfast on <i>Sunday, October 9 in the morning</i>.
                            <br />
                            Immediate family is invited to stay at the lodge for the entire weekend.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>WHERE:</b>
                        </td>
                        <td>
                            943 Co Rd 78, Woodland Park, CO 80863
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>WHY:</b>
                        </td>
                        <td>
                            Love and tax benefits.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>