<!-- Hotel Section -->
<section id="hotels" class="content-section text-center">
    <div class="hotel-section">
        <div class="container">
            <div class="col-lg-12 col-lg-offset-0">
                <h2>Places to Stay</h2>
                <p>
                    Due to the small size of our wedding, we are unable to secure discounted hotel prices for guests not
                    staying at the lodge.
                    <br/>
                    However, we have found a number of available places to stay at various price points.
                    <br/>
                    Here are some of the better available options, from least to most expensive:
                </p>
                <br/>
                <dl style="font-size: larger;">
                    <dt><a href="https://www.airbnb.com/rooms/29453009" target="_blank">Bunkhouse In the Pines</a></dt>
                    <dd>5-star, one-bedroom (2 guests) via Airbnb. Rental includes the
                        entire bunkhouse.
                    </dd>
                    <dd>Pet-friendly</dd>
                    <dd>20 minutes from the venue</dd>
                    <dd>~$100 per night</dd>
                    <br/>
                    <dt><a href="https://www.eaglefirelodge.com/" target="_blank">Eagle Fire Lodge and Cabins</a></dt>
                    <dd>Well-rated cabins and suites of varying sizes</dd>
                    <dd>Pet-friendly (in most suites)</dd>
                    <dd>25 minutes from the venue</dd>
                    <dd>$125-$175 per night</dd>
                    <br/>
                    <dt><a href="https://www.wyndhamhotels.com/microtel/woodland-park-colorado/microtel-inn-and-suites-by-wyndham-woodland-park/overview" target="_blank">Microtel Inn & Suites</a></dt>
                    <dd>Basic hotel with varying room sizes</dd>
                    <dd>No pets allowed</dd>
                    <dd>25 minutes from the venue</dd>
                    <dd>$150-$200 per night</dd>
                    <br/>
                    <dt><a href="https://www.rampartrangeresort.com/" target="_blank">Rampant Range Resort</a></dt>
                    <dd>Highly rated bed & breakfast with suites of varying sizes</dd>
                    <dd>One pet-friendly suite available, costs extra</dd>
                    <dd>25 minutes from the venue</dd>
                    <dd>$200-$300 per night</dd>
                    <br/>
                    <dt><a href="https://pikespeakresort.com/" target="_blank">Pikes Peak Resort</a></dt>
                    <dd>A group of 5 highly rated cabins of varying sizes</dd>
                    <dd>No pets allowed</dd>
                    <dd>5 minutes from the venue</dd>
                    <dd>$350-$400 per night</dd>
                </dl>
                <br/>
                <p>If none of these suit your needs, we recommend checking out the <a href="https://www.airbnb.com/s/Woodland-Park--CO/homes?adults=1&place_id=ChIJQb4NxcuqFIcRb2G_lXQuH80&refinement_paths%5B%5D=%2Fhomes" target="_blank">many available Airbnbs in the area</a>, which start at $75 per night.
                    <br>
                    There are also several hotels available in Colorado Springs, approximately 50 minutes from the venue.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Hotel Section -->
