<!-- Registry Section -->
<section id="registry" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>"Registry"</h2>
            <div style = "text-align: left;">
            <p>
                There’s a cliché that a marriage is about the couple, but a wedding is about everyone else.
            </p>
            <p>
                It’s probably meant to be a joke about how families and friends always try to make a couple’s wedding
                day about themselves. But there’s some truth to it. A wedding isn’t just about the people
                getting married. It’s about bringing all their loved ones together in one place. It’s about celebrating
                the melding of two families into one larger community.
            </p>
            <p>
                What does this have to do with a wedding registry? Well, <b>we don’t have one</b>. We’re not asking for
                gifts.
            </p>
            <p>
                Instead, we are asking attendees to do something that will help celebrate the idea of expanding
                community. We want the idea of growing community to be at the forefront of our wedding
                day.
            </p>
            <p>
                We are specifically asking people to <b>perform some act of mutual aid</b>.
            </p>
            <p>
                This is not charity, like donating to a nonprofit. Donating to a cause you care about can be a great
                thing but isn’t really about community. Mutual aid is much more about directly supporting community.
                It’s about expanding the idea of who you feel belongs to your community and recognizing how we can all
                support each other in different forms at different times.
            </p>
            <p>
                We’ve provided some examples of what mutual aid can look like below. We also encourage you to do your
                own research about what mutual aid can look like and participate in whatever actions feel right to you.
            </p>
            <p>
                You don’t need to provide us any “proof” that you did something. We just really hope you will take this
                sincere request to heart and then bring that spirit of community with you to our wedding day.
            </p>
            <br/>
            </div>
            <ul>
                <li>
                    Drop by a local community food, clothing, and/or gear distribution event to give supplies directly
                    to members of your community. Cook something yummy for the event or bring some clothes you no longer
                    need.
                </li>
                <li>
                    Spend some time delivering groceries to someone in your area who cannot physically or financially
                    purchase groceries themselves.
                    <ul>
                        <li>
                            Volunteer in person (if you are in the ATL area) or remotely with <a
                                href="https://atlsurvival.org/food/">Food4Life</a>.
                        </li>
                        <li>
                            Volunteer in person (if you are in the NYC area) or remotely with <a
                                href="https://invisiblehandsdeliver.org/volunteer">Invisible Hands</a>.
                        </li>
                    </ul>
                </li>
                <li>
                    Drop off groceries at or volunteer with a community fridge in your area.
                    <ul>
                        <li>
                            Community fridges are locations where anyone can drop off or pick up food and other
                            necessities, such as hygiene products.
                        </li>
                        <li>
                            Many major cities now have community fridges, including <a
                                href="https://denvercommunityfridges.com/faq/">Denver</a> and <a
                                href="https://free99fridge.com/">Atlanta</a>.
                        </li>
                    </ul>
                </li>
                <li>
                    Give money to someone who is asking for it without question of why they need it.
                    <ul>
                        <li>
                            Give to mutual aid funds such as <a href="https://www.atlantamutualaid.org/">Metro Atlanta
                            Mutual Aid Fund</a>.
                        </li>
                        <li>
                            Find a community spreadsheet such as <a
                                href="https://docs.google.com/spreadsheets/d/1kYhC0D1DcFgH7gB5D_akLoG10Wm1aGhXrdS0wMPhBaA/edit#gid=599760566">Denver
                            Community Mutual Aid</a>, and send money to someone on that list.
                        </li>
                        <li>
                            Next time you see someone asking for money on the side of the street, give some.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
