<!-- Download Section -->
<section id="rsvp" class="content-section text-center">
    <div class="rsvp-section photo-background">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>RSVP</h2>
                <p>
                    A custom RSVP link was included in your email invite.
                    <br/>
                    If you lost the invite, enter your email address below and click <b>Resend Invite</b>.
                </p>
                <input type="email" id="email" size="50" width="100%"
                       style="background-color: transparent;color: whitesmoke;border: 3px solid whitesmoke;">
                <br/>
                <button id="emailButton" class="btn btn-default btn-lg">Resend Invite</button>
                <br/>
                <p id="emailResult" style="font-size: small"></p>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="application/javascript">
    $('#emailButton').click(function () {
        let email = document.getElementById("email").value;
        if (email === "" || email === undefined || email == null) {
            return;
        }
        let url = "https://prod-44.westus.logic.azure.com/workflows/724476f4d2784ac3b388fa3b9db8b725/triggers/manual/paths/invoke/email/" + email + "?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=oRiwsk1Ia5RktgFVjUyCl9ghfw6pPVCQWdgDr6BCIMw"
        $.ajax({
            url: url,
            type: "POST",
            success: function () {
                $("#emailButton").removeClass('btn-primary').addClass('btn-info');
                $("#emailResult").text("Your invite has been resent. Please check your inbox.");
                $("#email").attr("disabled", "disabled");
                $("#emailButton").prop("disabled", true);
            },
            error: function () {
                $("#emailButton").removeClass('btn-primary').addClass('btn-danger');
                $("#emailResult").text("We could not find that email. Please use the email that the invite was originally sent to.");
            }
        });
    });
</script>