<!-- Schedule Section -->
<section id="schedule" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <table class="schedule-table">
                <tr>
                    <td>
                        <b>Friday,
                            <br />Oct. 7</b>
                    </td>
                    <td>
                        <ul style="font-size: large;">
                            <li><b>6 PM -</b>
                                For those of you who plan to stay at the lodge, this is when you can begin arriving.
                            </li>
                        </ul>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Saturday,
                            <br />Oct. 8</b>
                    </td>
                    <td>
                        <ul style="font-size: large;">
                            <li><b>3 PM -</b>
                                Shuttle to lodge begins picking people up from hotels in Woodland Park.
                                Exact shuttle schedule TBD.
                            </li>
                            <li><b>4 PM -</b>
                                Cocktail hour with light appetizers.
                                It is an open bar for the entire evening.
                            </li>
                            <li><b>5 PM -</b>
                                Ceremony.
                                Please do not arrive late.
                                After 5 PM -, we won’t have anyone available to help greet you at the door and show you
                                where to go.
                                The ceremony will be brief, so if you arrive late, you might miss it.
                            </li>
                            <li><b>5:30 PM -</b>
                                Formal photos for anyone who would like to partake.
                            </li>
                            <li><b>6 PM -</b>
                                Dinner served buffet-style.
                                There will be dessert, music, open bar, board games, yard games, and general merriment.
                                There’s nothing in the way of formal speeches or dances planned, but do whatever your
                                heart desires within legality and reason.
                            </li>
                            <li><b>9:45 PM -</b>
                                Shuttle back to Woodland Park departs.
                            </li>
                            <li><b>10 PM -</b>
                                Bar closes.
                                You are welcome to stay and continue your fun for as long as you would like. Just be
                                respectful of noise.
                                Keep in mind that the lodge is also where some people are sleeping, and some people may
                                be very tired and want to get a good night’s sleep.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sunday,
                            <br />Oct. 9</b>
                    </td>
                    <td>
                        <ul style="font-size: large;">
                            <li><b>8:30 AM -</b>
                                Anyone who wants to take a nice morning stroll can meet at <a href="https://trails.hikeitbaby.com/trail/manitou-park-lake-trail/">Manitou Lake</a>,
                                which is about 15 minutes from the lodge.
                                It’s about a 1.5-mile stroll around a lake with little elevation.
                                There is a $9 fee to park there, which must be paid in cash.
                            </li>
                            <li><b>10:30 AM -</b>
                                Breakfast buffet served at the lodge for anyone who wants to join.
                            </li>
                        </ul>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Monday,
                            <br />Oct. 10</b>
                    </td>
                    <td>
                        <ul style="font-size: large;">
                            <li><b>9 AM -</b>
                                Latest check out time for anyone staying at the lodge.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>