<!-- Transportation Section -->
<section id="transportation" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>Transportation</h2>
            <p>
                The lodge is about 25 minutes outside the nearest town, Woodland Park.
                <br />
                A decent portion of the drive to the lodge from Woodland Park is along an unpaved road that is steep and
                narrow at times.
            </p>
            <br />
            <p>
                <span style="font-size: larger"><b>Getting to Woodland Park:</b></span>
                <br />
                (we recommend going down to Colorado Springs and then up to Woodland Park)
            </p>
            <ul>
                <li>
                    <span style="font-size: larger"><b>Rent a car</b> ($40-$60/day + gas)</span>
                    <br/>
                    If you do not live in the Denver area, we highly recommend renting a car.
                    <br/>
                    Given the remote location of the lodge, this will likely be the easiest and most cost-effective way
                    to get around for the weekend.
                    <br/>
                    There is plenty of parking at the lodge.
                    <ul>
                        <li><i>Total round-trip cost: $120-$180</i></li>
                        <li><i>One-way travel time from Denver: 2 hours</i></li>
                    </ul>
                </li>
                <li>
                    <span style="font-size: larger"><b>Fly into Colorado Springs airport</b> ($100-$150 more than a flight to Denver) + <b>Lyft/Uber to Woodland Park</b> ($50-$75)</span>
                    <ul>
                        <li><i>Total round-trip cost: $200-$300</i></li>
                        <li><i>One-way travel time from Colorado Springs: 45 minutes</i></li>
                    </ul>
                </li>
                <li>
                    <span style="font-size: larger"><b>Take <a
                            href="https://groometransportation.com/colorado-springs/?sd_client_id=beaa7141-11a2-4be4-951d-1d838b93d98c#gt-cospringsfares-1">Groome Transportation</a> to Colorado Springs</b> ($50) + <b>Lyft/Uber to Woodland Park</b> ($50-$75)</span>
                    <ul>
                        <li><i>Total round-trip cost: $200-$250</i></li>
                        <li><i>One-way travel time from Denver: 3 hours</i></li>
                    </ul>
                </li>
            </ul>
            <br />
            <p>
                <span style="font-size: larger"><b>Getting from Woodland Park to the lodge:</b></span>
            </p>
            <ul>
                <li>
                    If you are comfortable driving along an unpaved road, you can use your rented car to drive yourself to and from the lodge.
                    <br />
                    Please consider you would be driving along the road in the dark after the ceremony and dinner on Saturday.
                </li>
                <li>
                    If you are uncomfortable driving along an unpaved road, you may be able to find an Uber/Lyft from downtown Woodland Park.
                    <br />
                    Be prepared for a wait. You may want to reserve it ahead of time to ensure there is a car available.
                </li>
                <li>
                    <b>On the afternoon of the ceremony (10/8), a shuttle will be available to take you to and from the lodge if you are staying at one of the recommended hotels.</b>
                </li>
            </ul>

        </div>
    </div>
</section>