<!-- Venue Section -->
<section id="venue" class="content-section text-center">
    <div class="venue-section photo-background">
        <div class="container">
            <div class="col-lg-12 col-lg-offset-0">
                <h2>Venue</h2>
                <p>
                    The ceremony and reception will be hosted at Thunder Butte Mountain Lodge, a large home we are
                    renting.
                    <br/>
                    It is located in a fairly rural area, about 25 minutes outside of Woodland Park.
                    <br/>
                    Cell service is spotty, and while there is Wi-Fi, it can be slow.
                </p>
                <br/>
                <h3 style="font-size: 1.2em; font-weight: bold; margin-bottom: 5px">Amenities:</h3>
                <ul style="font-size: larger;">
                    <li>TV in every bedroom</li>
                    <li>Exercise room</li>
                    <li>Sauna</li>
                    <li>Hot tub</li>
                    <li>Fire pit</li>
                    <li>Stocked kitchen</li>
                    <li>Billiards table</li>
                    <li>Dart board</li>
                    <li>Board games</li>
                    <li>Outdoor games</li>
                </ul>
                <br/>
                <p>More details about the lodge are available on <a
                        href="https://www.vrbo.com/993842?adultsCount=10&noDates=true&unitId=1541798">VRBO's
                    website.</a></p>
                <br/>
                <p>
                    We wish everyone could stay at the lodge with us for the entire weekend, but it only sleeps 20
                    people.
                    <br/>
                    If you are invited to stay at the lodge for the weekend, that was included on your invite.
                    <br/>
                    Otherwise, see <a href="#hotels">Places to Stay</a> for more information on other places to stay
                    in the area.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
