<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include details.html %}
    {% include venue.html %}
    {% include schedule.html %}
    {% include dress.html %}
    {% include hotels.html %}
    {% include map.html %}
    {% include transportation.html %}
    {% include registry.html %}
    {% include covid.html %}
    {% include rsvp.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>